@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Epicor Software Corporation<br />
    807 Las Cimas Pkwy,<br />
    Austin, TX 78746, USA<br /><br />
    <abbr title="Phone">Toll Free: +1.800.999.1809</abbr><br />
    <a href="https://www.epicor.com/en-us/company/contact/" target="_blank">Direct:</a> <a href="tel:+15123282300">+1.512.328.2300</a>
</address>


<h2>Get Started</h2>
<hr />
<p>
    The
    <a href="https://epicweb.epicor.com/doc/Docs/DynaChange%20Rules%20Guide.pdf" target="_blank">DynaChange Rules Guide</a>
    has instructions on page 35 after Business Rules are explained.
</p>

<h3>Helpful Resources</h3>
<hr />
<dl class="dl-horizontal">
    <dt>Prophet 21 Worldwide User Group</dt>
    <dd><a href="https://forums.p21ww.org/Forum101.aspx" target="_blank">Forums » DynaChange Products » Rules</a> </dd>

    <dt>EpicWeb</dt>
    <dd><a href="https://epicweb.epicor.com/SearchCenter/Pages/results.aspx?k=Dynachange%20Rules" target="_blank">Dynachange Rules</a> </dd>

    <dt>Slack</dt>
    <dd><a href="https://p21-dev.slack.com" target="_blank">P21-Dev Channels</a> <a href="slack://open?team=p21-dev">(invitation required)</a> </dd>

    <dt>EpicCare</dt>
    <dd><a href="https://epiccare.epicor.com/epiccare?id=create_case" target="_blank">Create Case</a> </dd>

    <dt>Cloud Hosted WVR</dt>
    <dd><a href="https://epiccare.epicor.com/epiccare/?id=epic_csform&table=sn_customerservice_case&sys_id=0e48ed131b9be914f1f7cb36624bcb50&view=csp" target="_blank">Case CS0003728273</a> </dd>

    <dt>Service Status</dt>
    <dd><a href="https://status.epicor.com target="_blank">Epicor Cloud Status</a> </dd>
</dl>

<h3>User Group Experts</h3>
<hr />
<dl class="dl-horizontal">
    <dt>Vieon</dt>
    <dd><a href="https://forums.p21ww.org/UserInfo3370.aspx" target="_blank">Mike Morisoli</a> </dd>

    <dt>YDBC</dt>
    <dd><a href="https://forums.p21ww.org/UserInfo11848.aspx" target="_blank">Spencer Welch</a> </dd>

    <dt>ustg</dt>
    <dd><a href="https://forums.p21ww.org/UserInfo8844.aspx" target="_blank">Justin Cassidy</a> </dd>

</dl>

<h3>Epicor Contacts <add @@epicor.com to end of username></h3>
<hr />
<dl class="dl-horizontal">
    <dt>Mgr. Cloud Operations</dt>
    <dd>
        Mike Devlin <MDevlin>
    </dd>

    <dt>User Experience</dt>
    <dd>
        Patrick Hagerty <patrick.hagerty>
    </dd>

    <dt>Technical Solutions Group</dt>
    <dd>
        John Merritt <jmerritt>
    </dd>

    <dt>Customization Consultant</dt>
    <dd>Alex Mercer <Alexander.Mercer></dd>

    <dt>Management</dt>
    <dd>
        Eric Furrow <EFurrow>
    </dd>

    <dt>Core Team</dt>
    <dd>Jonathan Ives <jonathan.ives></dd>

    <dt>Cloud R Analyst, principle</dt>
    <dd>Steve Howe <SHowe></dd>

    <dt>Rock Star</dt>
    <dd>Miguel Ruiz<EpicCare Customer Support></dd>

    <dt>April 2023</dt>
    <dd>Ron Schorr <RSchorr>, Dan Brooks <DBrooks>; Rolando de Aguiar <RDeaguiar></dd>
</dl>


<h3>Public Repositories</h3>
<hr />
<dl class="dl-horizontal">
    <dt>Epicor</dt>
    <dd><a href="https://github.com/Epicor/Prophet21" target="_blank">A repository of sample projects for the Epicor Prophet 21 ERP system.</a> </dd>

    <dt>AndrewPodner</dt>
    <dd><a href="https://github.com/AndrewPodner/prophet21" target="_blank">Prophet 21 - Code to Make Your Life Easier</a> </dd>

    <dt>deemitasc</dt>
    <dd><a href="https://github.com/deemitasc/Prophet21" target="_blank">Magento 2 Prophet21</a> </dd>

    <dt>PSSeleniumTestCases</dt>
    <dd><a href="https://github.com/PrernaSingh22/PSSeleniumTestCases" target="_blank">Prophet21-DocStar Integration Test Cases</a> </dd>

    <dt>Prophet21 Tools</dt>
    <dd><a href="https://github.com/tjarosz-stdair/Prophet21Tools" target="_blank">Various tools, code, snippets, etc. for the Epicor Prophet 21 ERP.</a> </dd>

    <dt>P21Custom</dt>
    <dd><a href="https://github.com/dojademake/Prophet21" target="_blank">Packages and examples for easier Epicor Prophet 21 ERP custom development.</a> </dd>

    <dt>
        Epicor-Prophet-21
    </dt>
    <dd><a href="https://github.com/kulikov-dev/Epicor-Prophet-21" target="_blank">Connector to the Epicor Prophet 21 for PHP 5.5</a> </dd>

    <dt>P21API</dt>
    <dd><a href="https://github.com/felipemaurer/P21API" target="_blank">This is an unofficial repository to help with the development of API call for Epicor's Prophet 21.</a> </dd>

    <dt>Email-Validation</dt>
    <dd><a href="https://github.com/Lulzat/Email-Validation" target="_blank">A Prophet 21 DynaChange Class Extension.</a> </dd>
</dl>

