@{
    ViewBag.Title = "Get Started";
}

<h2>Get Started</h2>
<hr />
<p>
    The
    <a href="https://epicweb.epicor.com/doc/Docs/DynaChange%20Rules%20Guide.pdf" target="_blank">DynaChange Rules Guide</a>
    has instructions on page 35 after Business Rules are explained.
</p>

<h3>Helpful Resources</h3>
<hr />
<dl class="dl-horizontal">
    <dt>EpicWeb</dt>
    <dd><a href="https://epicweb.epicor.com/SearchCenter/Pages/results.aspx#k=Dynachange%20Rules" target="_blank">Dynachange Rules</a> </dd>

    <dt>EpicCare</dt>
    <dd><a href="https://epiccare.epicor.com/epiccare?id=create_case" target="_blank">Create Case</a> </dd>
</dl>