@model P21.Extensions.Web.WebBusinessRule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BaseRule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.XmlData)
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.XmlData, new { id = "rawXml", style = "display:none;" })
            <pre id="formattedXml"></pre>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {

    <script>

        function formatXml(xml) {
            var reg = /(>)(<)(\/*)/g;
            xml = xml.replace(reg, '$1\r\n$2$3');
            var formatted = '';
            var pad = 0;
            xml.split('\r\n').forEach(function (node) {
                var indent = 0;
                if (node.match(/.+<\/\w[^>]*>$/)) {
                    indent = 0;
                } else if (node.match(/^<\/\w/)) {
                    if (pad !== 0) {
                        pad -= 1;
                    }
                } else if (node.match(/^<\w[^>]*[^/]>/)) {
                    indent = 1;
                }
                var padding = '';
                for (var i = 0; i < pad; i++) {
                    padding += '  ';
                }
                formatted += padding + node + '\r\n';
                pad += indent;
            });
            return formatted;
        }

        $(document).ready(function () {
            var xmlContent = $('#rawXml').text();
            var beautifiedXml = formatXml(xmlContent);
            $('#formattedXml').text(beautifiedXml);
        });
    </script>
}
