@model P21.Extensions.Web.WebBusinessRule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BaseRule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.XmlData)
        </dt>

        <dd>
            <div class="container mt-4">
                <span class="border p-3 bg-light">
                    <textarea id="rawXml" style="display:none;">@(Model.XmlData?.Trim() ?? string.Empty)</textarea>
                    <pre id="formattedXml"></pre>
                </span>
            </div>

        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const rawXml = document.getElementById('rawXml').value;
            const parser = new DOMParser();
            const xmlDoc = parser.parseFromString(rawXml, "text/xml");

            const serializer = new XMLSerializer();
            const prettyXml = serializer.serializeToString(xmlDoc);

            document.getElementById('formattedXml').textContent = prettyXml;
        });
    </script>
}
