
@{
    ViewBag.Title = "Get Started";
}
<h2 style="padding-top: 40px;">@ViewBag.Title.</h2>

<h3>@ViewBag.Message</h3>

<hr />
<p>
    The <a href="https://epicweb.epicor.com/doc/Docs/DynaChange%20Rules%20Guide.pdf">
        DynaChange
        Rules Guide
    </a> has instructions on page 35 after Business Rules are explained.
</p>

