@model System.Web.Mvc.HandleErrorInfo

@{
    string errorMessage = "Unknonw";
    if (Model != null)
    {
        var exception = Model.Exception;
        errorMessage = String.Format("Controller {1} threw an error of type {0} in the {2} action.  " + Environment.NewLine +
            "Exception message: {3} " + Environment.NewLine +
            "{4}",
            exception.GetType(), Model.ControllerName, Model.ActionName, exception.Message, exception.ToString());
    }
    else
    {
        errorMessage = "HandleErrorInfo is null";
    }
}

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_VisualRuleLayout.cshtml";
}

<div style="padding: 5px">
    <div style="text-align: center">
        <div class="errorTitle">Oops.. </div>
        <h4>We encountered an error while trying to load the (@Request.Url) page.</h4>
        <hr />

        @if (!String.IsNullOrEmpty(errorMessage))
        {
            <div class="well" style="font-size:0.8em;">
                Error Message: <pre style="text-align:left;">@errorMessage</pre>
            </div>
        }
    </div>
</div>