@{
    ViewBag.Title = "Get Started";
}

<h2>Get Started</h2>
<hr />
<p>
    The
    <a href="https://epicweb.epicor.com/doc/Docs/DynaChange%20Rules%20Guide.pdf" target="_blank">DynaChange Rules Guide</a>
    has instructions on page 35 after Business Rules are explained.
</p>

<h3>Helpful Resources</h3>
<hr />
<dl class="dl-horizontal">
    <dt>Prophet 21 Worldwide User Group</dt>
    <dd><a href="https://forums.p21ww.org/Forum101.aspx" target="_blank">Forums » DynaChange Products » Rules</a> </dd>

    <dt>EpicWeb</dt>
    <dd><a href="https://epicweb.epicor.com/SearchCenter/Pages/results.aspx?k=p21#k=dynachange%20rules" target="_blank">Dynachange Rules</a> </dd>

    <dt>Slack</dt>
    <dd><a href="https://p21-dev.slack.com/" target="_blank">P21-Dev Channels (invitation required)</a> </dd>

    <dt>EpicCare</dt>
    <dd><a href="https://epiccare.epicor.com/epiccare?id=create_case" target="_blank">Create Case</a> </dd>

    <dt>Cloud Hosted WVR</dt>
    <dd><a href="https://epiccare.epicor.com/epiccare/?id=epic_csform&table=sn_customerservice_case&sys_id=0e48ed131b9be914f1f7cb36624bcb50&view=csp" target="_blank">Case CS0003728273</a> </dd>
</dl>

<h3>User Group Experts</h3>
<hr />
<dl class="dl-horizontal">
    <dt>Vieon</dt>
    <dd><a href="https://forums.p21ww.org/UserInfo3370.aspx" target="_blank">Mike Morisoli</a> </dd>

    <dt>YDBC</dt>
    <dd><a href="https://forums.p21ww.org/UserInfo11848.aspx" target="_blank">Spencer Welch</a> </dd>

    <dt>ustg</dt>
    <dd><a href="https://forums.p21ww.org/UserInfo8844.aspx" target="_blank">Justin Cassidy</a> </dd>

</dl>

<h3>Epicor Contacts <add @@epicor.com to end of username></h3>
<hr />
<dl class="dl-horizontal">
    <dt>Mgr. Cloud Operations</dt>
    <dd>
        Mike Devlin <MDevlin>
    </dd>

    <dt>User Experience</dt>
    <dd>
        Patrick Hagerty <patrick.hagerty>
    </dd>

    <dt>Technical Solutions Group</dt>
    <dd>
        John Merritt <jmerritt>
    </dd>

    <dt>Customization Consultant</dt>
    <dd>Alex Mercer <Alexander.Mercer></dd>

    <dt>Management</dt>
    <dd>
        Eric Furrow <EFurrow>
    </dd>

    <dt>Core Team</dt>
    <dd>Jonathan Ives <jonathan.ives></dd>

    <dt>Cloud Ops</dt>
    <dd>Steve Howe <SHowe></dd>

    <dt>April 2023</dt>
    <dd>Ron Schorr <RSchorr>, Dan Brooks <DBrooks>; Rolando de Aguiar <RDeaguiar></dd>
</dl>
