@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Visual Business Rules</h1>
    <p class="lead">This template will help you create visual forms that work with the DynaChange rules engine.</p>
</div>

<h2>Welcome!</h2>
<p>
    The Prophet 21 Visual Business Rules allows you to create user interface views that are driven by the execution of your back-end business rules.
    The views are written in ASP.NET MVC, and can utilize all of the power the C# and JavaScript languages.  You can also utilize powerful open source
    libraries of UI controls for your views.
</p>

<div class="row">
    <div class="col-md-6">
        <h2>Get Started</h2>
        <p>
            Developers can use this Visual Studio project to start coding their customized visual rules for Prophet 21.  This project contains
            code templates to help you scaffold up a new visual rule quickly.  The developer documentation covers more on the topics of creating new 
            visual rules and what is possible.
        </p>
        <a href="@Url.Action("GetStarted","Home")" class="btn btn-primary">Learn more...</a>
    </div>
    <div class="col-md-6">
        <h2>ASP.NET MVC Framework</h2>
        <p>The Prophet 21 Visual Business Rules is based off the ASP.NET MVC framework.  This gives you the full breadth and power of both .NET and 
        the MVC web framework.</p>
        <p><a class="btn btn-warning" href="https://www.asp.net/mvc">Learn more...</a></p>
    </div>
</div>