@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">
            DynaChange
            Rules Guide
        </h1>
        <p class="lead">
            Epicor P21 can be extended with Business Rules. This site helps troubleshoot implementation using Screen Designer,
            Menu Designer, Ribon Metrics, Web Visual Rules, Screen Only Columns and User Defined fields.
        </p>
        <p><a href="https://epicweb.epicor.com/doc/Docs/DynaChange%20Rules%20Guide.pdf#search=dynachange%20rules%20guide" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-6" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Setting up Prophet 21 to use business rules</h2>
            <p>
                Prophet 21 DynaChange Rules enable you to extend and customize the system to fit your
                business requirements.
            </p>
            <p><a class="btn btn-outline-dark" href="https://github.com/DougD-BY/Profit21Customization">Repository &raquo;</a></p>
        </section>
        <section class="col-md-6" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Creating a "stub" project and business rule class in Visual Studio</h2>
            <p>
                Before you setup and use DynaChange Rules in your live system, Epicor recommends setting up
                DynaChange Rules and testing it on your play system.
            </p>
            <p><a class="btn btn-outline-dark" href="https://p21-dev.slack.com/">Slack channel &raquo;</a></p>
        </section>
    </div>
</main>