<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="P21DataContext" connectionString="data source=p21XX-read99.epicordistribution.com,54321;initial catalog=az_COMPANYNAME_live;persist security info=True;user id=readonly_987654;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>