<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="P21DataContext" connectionString="data source=p21us-read04.epicordistribution.com,50135;initial catalog=az_behleryoung_live;persist security info=True;user id=readonly_81549_all;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>