@model List<System.Diagnostics.FileVersionInfo>

<h2>DLL Versions</h2>

<table>
    <tr>
        <th>File Name</th>
        <th>Version</th>
    </tr>
    @foreach (System.Diagnostics.FileVersionInfo dll in Model)
    {
        <tr>
            @if (string.IsNullOrEmpty(dll.OriginalFilename))
            {
                <td colspan="2">@Html.DisplayFor(m => dll.FileName)</td>
            }
            else
            {
                <td>@Html.DisplayFor(m => dll.OriginalFilename)</td>
                <td>@Html.DisplayFor(m => dll.ProductVersion)</td>
            }
        </tr>
    }
</table>
