<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<connectionStrings>
		<add name="P21ConnectionString" connectionString=""
		  xdt:Transform="Remove" xdt:Locator="Match(name)"/>
	</connectionStrings>

	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />

		<customErrors mode="On" defaultRedirect="~/Error.aspx" redirectMode="ResponseRewrite" xdt:Transform="Replace">
			<error statusCode="404" redirect="~/Error_404.aspx" />
			<error statusCode="500" redirect="~/Error_500.aspx" />
		</customErrors>
	</system.web>
</configuration>