<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<connectionStrings>
		<add name="P21ConnectionString" connectionString="Persist Security Info=False;Trusted_Connection=True;server=XXp21aglisten99;database=az_COMPANYNAME_live;MultipleActiveResultSets=True;"
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="RemoteConnectionString" connectionString="data source=p21XX-read99.epicordistribution.com,54321;initial catalog=az_COMPANYNAME_live;persist security info=True;user id=readonly_87654;MultipleActiveResultSets=True;App=P21.Rules.Visual"
			xdt:Transform="Remove" xdt:Locator="Match(name)"/>
	</connectionStrings>

	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />

		<customErrors mode="On" defaultRedirect="~/Error.aspx" redirectMode="ResponseRewrite" xdt:Transform="Replace">
			<error statusCode="404" redirect="~/Error_404.aspx" />
			<error statusCode="500" redirect="~/Error_500.aspx" />
		</customErrors>
	</system.web>
</configuration>