body {
    padding: 10px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

.errorTitle {
    font-size: 64px;
    font-weight: bolder;
}

#formattedXml {
    height: 15vh; /* Sets the height to 10% of the viewport height */
    overflow-y: auto; /* Adds a vertical scrollbar when the content exceeds the height */
    box-sizing: border-box; /* Ensures padding and border are included in the dimensions */
}

#rawXml {
    display: block; /* This ensures the textarea is visible */
    width: 100%; /* Makes the textarea span the full width of its parent container */
    height: 25vh; /* Sets the height of the textarea to 25% of the viewport height */
    box-sizing: border-box; /* This ensures padding and border are included in the width and height */
    resize: vertical; /* Allows users to resize the textarea vertically, but not horizontally */
}
